{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron text-center">
      <h1>About Page</h1>
    </div>
    <center><p >sornu.ai is an AI built and trained with a machine learning model that gives
        the accurate Nitrogen, Potassium and Phosphorus concentrations in soil, and by prediction recommend
        appropriate fertilizer needs to meet specific needs per acre of land with NUTRISENSE;an IOT device that
        measures the soil Temp, Soil electrical conductivity (EC) and soil moisture.
    </p></center>

  <p>sornu.ai works with existing soil moisture and nutrient detection devices.</p>
  
{% endblock content %}
