<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title></title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Mulching Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
    </script>
     <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}  " rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="./font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="{{url_for('static', filename='style.css')}}" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
   <!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">
	<!-- //Web-Fonts -->

  </head>
  <body>
    <!--headder-->
    <div class="header-outs inner_page-banner " id="home">
      <div class="headder-top">
        <!-- nav -->
        <nav>
          <div id="logo">
            <h1><a href="{{ url_for('home') }}">sornuAI</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop">
          <ul class="menu mt-2">
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('home') }}">Services</a></li>
            <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
              <!-- First Tier Drop Down -->
              <label for="drop-2" class="toggle toogle-2">News <span class="fa fa-angle-down" aria-hidden="true"></span>
              </label>
              <a href="#">News <span class="fa fa-angle-down" aria-hidden="true"></span></a>
              <input type="checkbox" id="drop-2">
              <ul>
                <li><a href="{{ url_for('home') }}" class="drop-text">Gallery</a></li>
                <li><a href="{{ url_for('blog') }}" class="drop-text">Blog</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('home') }}">Contact Us</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
    </div>

<div class="using-border py-3">
      <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
          <li>
            <a href="index.html">Home</a>
            <span>/ /</span>
          </li>
          <li>Login</li>
        </ul>
      </div>
    </div>

 <center><div class="col-md-4">
    <div class="content-section">
      <h3>Login</h3>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="form-group">
          {{form.username.label}}<br>
          {% if form.username.errors %}
                {{form.username(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                  {% endfor %}
                </div>
          {% else %}
              {{form.username(class="form-control form-control-lg")}}
          {% endif %}

        </p>
        <p class="form-group">
          {{form.password.label}}<br>
          {% if form.password.errors %}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                  {% endfor %}
                </div>
          {% else %}
              {{form.password(class="form-control form-control-lg")}}
          {% endif %}

        </p>
        <p class="form-check">{{form.remember_me(class="form-check-input")}} {{form.remember_me.label(class="form-check-label")}}</p>
        <p class="form-group">{{form.submit(class="btn btn-outline-info")}}</p>
        <small class="text-muted">
          <a href="#">Forgot your password?</a>
        </small>
        <div class="border-top pt-3">
          <small class="text-muted">
            Don't have an account? <a class="ml-2" href="{{url_for('register')}}">Create one</a>
          </small>
        </div>
      </form>
    </div></center>
  

        <!-- footer -->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="footer-w3layouts-head text-center">
          <h2><a href="index.html">sornuAI</a></h2>
        </div>
        <div class="social-icons mt-lg-5 mt-md-4 mt-3 text-center">
          <ul>
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-rss"></span></a></li>
            <li><a href="#"><span class="fa fa-envelope"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
          <p> 
            © 2019 sornuAI. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
          </p>
        </div>
        <!-- move icon -->
        <div class="text-center">
          <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <!--//move icon -->
      </div>
    </footer>
    <!--//footer -->
  </body>
</html>


