<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title></title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Mulching Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
    </script>
     <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}  " rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="./font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="{{url_for('static', filename='style.css')}}" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
   <!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">
	<!-- //Web-Fonts -->

  </head>
  <body>
    <!--headder-->
    <div class="header-outs inner_page-banner " id="home">
      <div class="headder-top">
        <!-- nav -->
        <nav>
          <div id="logo">
            <h1><a href="{{ url_for('home') }}">sornuAI</a></h1>
          </div>
          <label for="drop" class="toggle">Menu</label>
          <input type="checkbox" id="drop">
          <ul class="menu mt-2">
            <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('home') }}">Services</a></li>
            <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
              <!-- First Tier Drop Down -->
              <label for="drop-2" class="toggle toogle-2">News <span class="fa fa-angle-down" aria-hidden="true"></span>
              </label>
              <a href="#">News <span class="fa fa-angle-down" aria-hidden="true"></span></a>
              <input type="checkbox" id="drop-2">
              <ul>
                <li><a href="{{ url_for('home') }}" class="drop-text">Gallery</a></li>
                <li><a href="{{ url_for('blog') }}" class="drop-text">Blog</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('home') }}">Contact Us</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
    </div>

<div class="using-border py-3">
      <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
          <li>
            <a href="index.html">Home</a>
            <span>/ /</span>
          </li>
          <li>Register</li>
        </ul>
      </div>
    </div>

  <center><div class="col-md-5">
        <div class="content-section">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4"> Join Today</legend>
                  <div class="form-group">
                    <div class="row">
              				<div class="col-md-6">
                        {{form.first_name.label(class="form-control-label")}}

                        {% if form.first_name.errors %}
                              {{form.first_name(class="form-control form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                  <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                                {% endfor %}
                              </div>
                        {% else %}
                            {{form.first_name(class="form-control form-control-lg")}}
                        {% endif %}
                      </div>
              				<div class="col-md-6">
                        {{form.last_name.label(class="form-control-label")}}

                        {% if form.last_name.errors %}
                              {{form.last_name(class="form-control form-control-lg is-invalid")}}
                              <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                  <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                                {% endfor %}
                              </div>
                        {% else %}
                            {{form.last_name(class="form-control form-control-lg")}}
                        {% endif %}
                      </div>
              			</div>
                  </div>
                  <div class="form-group">
                    {{form.name_of_farm.label(class="form-control-label")}}<br>

                    {% if form.name_of_farm.errors %}
                          {{form.name_of_farm(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.name_of_farm.errors %}
                              <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                            {% endfor %}
                          </div>
                    {% else %}
                        {{form.name_of_farm(class="form-control form-control-lg")}}
                    {% endif %}

                  </div>
                  <div class="form-group">
                    {{form.username.label(class="form-control-label")}}<br>

                    {% if form.username.errors %}
                          {{form.username(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                              <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                            {% endfor %}
                          </div>
                    {% else %}
                        {{form.username(class="form-control form-control-lg")}}
                    {% endif %}

                  </div>
                  <div class="form-group">
                    {{form.email.label(class="form-control-label")}}<br>
                    {% if form.email.errors %}
                          {{form.email(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                              <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                            {% endfor %}
                          </div>
                    {% else %}
                        {{form.email(class="form-control form-control-lg")}}
                    {% endif %}

                  </div>
                  <div class="form-group">
                    {{form.password.label(class="form-control-label")}}<br>
                    {% if form.password.errors %}
                          {{form.password(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                              <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                            {% endfor %}
                          </div>
                    {% else %}
                        {{form.password(class="form-control form-control-lg")}}
                    {% endif %}

                  </div>
                  <div class="form-group">
                    {{form.confirm_password.label(class="form-control-label")}}<br>
                    {% if form.confirm_password.errors %}
                          {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
                          <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                              <br><small><i><span style= "color:red;">{{ error }}</i></small></span>
                            {% endfor %}
                          </div>
                    {% else %}
                        {{form.confirm_password(class="form-control form-control-lg")}}
                    {% endif %}

                  </div>
              </fieldset>
              <div class="form-group">{{form.submit(class="btn btn-outline-info")}}</div>
          </form>
        </div>
        <div class="border-top pt-3">
          <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{url_for('login')}}">Sign In</a>
          </small>
        </div>
    </div></center>
  

        <!-- footer -->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="footer-w3layouts-head text-center">
          <h2><a href="index.html">sornuAI</a></h2>
        </div>
        <div class="social-icons mt-lg-5 mt-md-4 mt-3 text-center">
          <ul>
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-rss"></span></a></li>
            <li><a href="#"><span class="fa fa-envelope"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
          <p> 
            © 2019 sornuAI. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
          </p>
        </div>
        <!-- move icon -->
        <div class="text-center">
          <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <!--//move icon -->
      </div>
    </footer>
    <!--//footer -->
  </body>
</html>


